

.button-wrapper{
  width: 100%;
  height: 50px;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  &__button{
    color: black;
  }
  &__button:hover{
    color: white;
  }
}
.field-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  row-gap: 5px;
}


@media screen and (max-width: $mobileSize){
  .field-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    column-gap: 5px;
    margin: 0 auto;
  }
}

