


.login-wrapper{
  width: 60%;
  background: $backgroundColor;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px 20px;
  &__title{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  &__fields{
    display: grid;
    row-gap: 20px;
    padding: 20px 10px;
  }
  &__footer{
    display: flex;
    justify-content: space-around;
    color: black;
    > p {
      cursor: pointer;
      font-size: 18px;
      color: $textGrayColor;
    }
    > p:hover {
      color: $labelColor;
    }
  }
}


@media screen and (max-width: $mobileSize){

  .login-wrapper{
    width: 90%;
    padding: 10px 10px;
  }

}