
.center {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.table {

  .monitor-wrapper {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 20px;


    .monitor {
      width:  100%;
      overflow: hidden;
      white-space: nowrap;
      border-radius: 5px;
      padding-bottom: 5px;

      p {
        font-family: 'Lato', sans-serif;
        font-size: 60px;
        position: relative;
        display: inline-block;
        animation: move 25s infinite linear;
        color: $textGrayColor;
      }
    }
  }
}

@keyframes move {
  from {
    left: 800px;
  }
  to {
    left: -4800px;
  }
}

@media screen and (max-width: 1100px) {
  .table{
    display: none;
  }
}