$backgroundColor: #121313;
$backgroundHeaderColor:#0e0b10;
$mobileSize: 700px;
$orangeColor: #df6600;
$textWhiteColor: white;
$textGrayColor: #aba4a4;
$backgroundDescription: #16121a;
$inputBackground: #8d8d8d