
.search-wrapper{
  display: flex;
  align-items: center;
  &_button {
    padding: 0 20px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $textGrayColor;
    background:$orangeColor;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    width:10px;
    transition: background 0.5s;
  }
  &_button:hover {
    cursor: pointer;
    background: $backgroundDescription;
    color: $orangeColor;
  }
  &_searchInput {
    height: 100%;
    border-top-right-Radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
    background: $backgroundColor;
    color: $textGrayColor;
    font-size: 16px;
    padding-left: 10px;
    &:focus-visible{
      outline: none;
    }
  }
}