

.list-wrapper{
  .card{
    background:$backgroundDescription;
    .title-wrapper{
      width: 100%;
      &-subtitle{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .title{
    color: $textWhiteColor;
    padding-right: 5px;
  }
  .description{
    text-overflow: ellipsis;
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden;
    color: $textGrayColor;
  }
}


@media screen and (max-width: $mobileSize){
  .list-wrapper {
    .title {
      font-size: 15px;
    }
    .description{
     font-size: 12px;
    }
  }
}
