@import "styles/variables.scss";
@import "./styles/header";
@import "styles/main";
@import "src/components/atoms/animations/welcomeAnimation";
@import "src/components/atoms/animations/loadingAnimation";
@import "styles/details";
@import "src/components/molecules/orderCount/orderCount";
@import "src/components/organisms/payment/payment";
@import "src/components/molecules/shippingAddress/shippingAddress";
@import "src/components/organisms/login/login";
@import "src/components/organisms/orderLists/orderLists";
@import "src/components/organisms/addProduct/addProduct";
@import "src/components/atoms/uploadImage/uploadImage";
@import "src/components/atoms/logo";
@import "src/components/molecules/productList";
@import "src/components/molecules/signIn";
@import "src/components/molecules/menuBar";


* {
  margin: 0;
  padding: 0;
}
body{
  background: rgb(0, 0, 0);
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: black;
}
body::-webkit-scrollbar-track {
  background:  black;
}
body::-webkit-scrollbar-thumb {
  background-color: $backgroundColor;
  border-radius: 3px;
}

body .order-wrapper::-webkit-scrollbar {
  width: 11px;
}
body .order-wrapper{
  scrollbar-width: thin;
  scrollbar-color:  black;
}
body .order-wrapper::-webkit-scrollbar-track {
  background:  black;
}
body .order-wrapper::-webkit-scrollbar-thumb {
  background-color: $backgroundColor;
  border-radius: 3px;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}